################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ViewModels/obj/Test/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ViewModels/obj/Test
/src/ViewModels/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ViewModels/obj/Release
/src/ViewModels/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ViewModels/obj/Debug
/src/ViewModels/obj
/src/ShoppingCartIntegrationTests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCartIntegrationTests/obj/Release
/src/ShoppingCartIntegrationTests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCartIntegrationTests/obj/Debug
/src/ShoppingCartIntegrationTests/obj
/src/ShoppingCart.Tests.FullDb/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Tests.FullDb/obj/Release
/src/ShoppingCart.Tests.FullDb/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Tests.FullDb/obj/Debug
/src/ShoppingCart.Tests.FullDb/obj
/src/ShoppingCart.Services.Tests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Services.Tests/obj/Release
/src/ShoppingCart.Services.Tests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Services.Tests/obj/Debug
/src/ShoppingCart.Services.Tests/obj
/src/ShoppingCart.Services/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Services/obj/Release
/src/ShoppingCart.Services/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Services/obj/Debug
/src/ShoppingCart.Services/obj
/src/ShoppingCart.Servcies.Tests/obj/Release/ShoppingCart.Services.Tests.csprojAssemblyReference.cache
/src/ShoppingCart.Servcies.Tests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Servcies.Tests/obj/Release
/src/ShoppingCart.Servcies.Tests/obj/Debug/ShoppingCart.Services.Tests.csprojAssemblyReference.cache
/src/ShoppingCart.Servcies.Tests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Servcies.Tests/obj/Debug
/src/ShoppingCart.Servcies.Tests/obj
/src/ShoppingCart.Domain.Tests/obj/Test/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain.Tests/obj/Test
/src/ShoppingCart.Domain.Tests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain.Tests/obj/Release
/src/ShoppingCart.Domain.Tests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain.Tests/obj/Debug
/src/ShoppingCart.Domain.Tests/obj
/src/ShoppingCart.Domain/obj/Test/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain/obj/Test
/src/ShoppingCart.Domain/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain/obj/Release
/src/ShoppingCart.Domain/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Domain/obj/Debug
/src/ShoppingCart.Domain/obj
/src/ShoppingCart.Data/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Data/obj/Release
/src/ShoppingCart.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/ShoppingCart.Data/obj/Debug
/src/ShoppingCart.Data/obj
/src/SharedKernel.Data/obj/Test/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/SharedKernel.Data/obj/Test
/src/SharedKernel.Data/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/SharedKernel.Data/obj/Release
/src/SharedKernel.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/SharedKernel.Data/obj/Debug
/src/SharedKernel.Data/obj
/src/Order.Write.Domain/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Write.Domain/obj/Release
/src/Order.Write.Domain/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Write.Domain/obj/Debug
/src/Order.Write.Domain/obj
/src/Order.Write.Data/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Write.Data/obj/Release
/src/Order.Write.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Write.Data/obj/Debug
/src/Order.Write.Data/obj
/src/Order.Read.Domain/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Read.Domain/obj/Release
/src/Order.Read.Domain/obj/Debug/Order.Read.Domain.csprojAssemblyReference.cache
/src/Order.Read.Domain/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Read.Domain/obj/Debug
/src/Order.Read.Domain/obj
/src/Order.Read.Data/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Read.Data/obj/Release
/src/Order.Read.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Read.Data/obj/Debug
/src/Order.Read.Data/obj
/src/Order.Domain.Tests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Domain.Tests/obj/Release
/src/Order.Domain.Tests/obj/Debug/Order.Domain.Tests.csprojAssemblyReference.cache
/src/Order.Domain.Tests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Domain.Tests/obj/Debug
/src/Order.Domain.Tests/obj
/src/Order.Domain/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Domain/obj/Release
/src/Order.Domain/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Domain/obj/Debug
/src/Order.Domain/obj
/src/Order.Data.Tests/obj/Release/Order.Data.Tests.csprojAssemblyReference.cache
/src/Order.Data.Tests/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Data.Tests/obj/Release
/src/Order.Data.Tests/obj/Debug/Order.Data.Tests.csprojAssemblyReference.cache
/src/Order.Data.Tests/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Data.Tests/obj/Debug
/src/Order.Data.Tests/obj
/src/Order.Data/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Data/obj/Release
/src/Order.Data/obj/Debug/Order.Data.csprojAssemblyReference.cache
/src/Order.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/src/Order.Data/obj/Debug
/src/Order.Data/obj
/src/MvcSalesApp.Tests.SharedKernel/obj
/src/MvcSalesApp.SharedKernel/obj
/src/Maintenance.Domain.Tests/obj
/src/Maintenance.Domain/obj
/src/Maintenance.Data.Tests/obj
/src/Maintenance.Data/obj
/src/DesignTimeHelpers/obj
/.vs
